editor=nvim
init-author-email=ruyadorno@hotmail.com
init-author-name=Ruy Adorno
init-author-url=https://ruyadorno.com/
init-license=MIT
registry=https://registry.npmjs.org/
sign-git-commit=true
sign-git-tag=true
